.concave-skills{
    border-radius: 50px;
    background: $cl-blue-light;
    width: 100%;
    aspect-ratio: 4/2;
    position: relative;
    
    &-item{
        display: inline-flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        color: $cl-white;
        position: absolute;

        &.group1{
            background: $cl-purple-light;
        }

        &.group2{
            background: $cl-pink-light;
        }

        &.group3{
            border: 1px solid $cl-black;
            color: $cl-black;
        }
    }
}