/**
 * Fonts
 */
@font-face {
    font-family: 'AmugRegular';
        src: url('@/assets/fonts/AmugRegular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Black-Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Bold-Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-ExtraBold-Italic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Light-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Medium-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Super-Italic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Super.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Thin-Italic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Objective';
    src: url('@/assets/fonts/Objective-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
