body{
    font-family: $ff-primary;
    line-height: 1.2;
    scroll-behavior: smooth;
    // color: $cl-white;
}

a{
    text-decoration: none;
}

.logo{
    font-family: $ff-secondary;
    font-size: 32px;
    text-transform: uppercase;
}

.pl{
  padding-left: 50px;
}


%title-section{
  font-size: 74px;
font-weight: 500;
line-height: 90px; /* 121.622% */
text-transform: uppercase;
}

.title-section-black{
  @extend %title-section;
  color: $cl-black;
}

.title-section-white{
  @extend %title-section;
  color: $cl-white;
}

.title-section-stroke{
  @extend %title-section;
  color: transparent;
}

@media (max-width: 576px) {
  .logo{
    font-size: 20px;
  }
}