$ff-primary: "Poppins", "sans-serif";
$ff-secondary: "AmugRegular", "serif";

$cl-black: #1E1E1E;
$cl-white: #FFF;
$cl-blue-light: #F2F4FF;
$cl-purple-light: #A7BDF6;
$cl-pink-light: #BCA1E7;

$pl: 50px;