$ff-primary: "Objective", "sans-serif";
$ff-secondary: "Objective", "serif";

$cl-black: #1E1E1E;
$cl-white: #FFF;
$cl-blue-light: #F2F4FF;
$cl-purple-light: #A7BDF6;
$cl-pink-light: #BCA1E7;
$cl-blue-2: #A9CCFF;

$pl: 50px;
$cl-pink-2: #FFECF1;
$cl-pink-3: #FFC1D1;
$cl-yellow-2: #FFE598;