.about{
    padding: 100px 5vw;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    // background: url('../src/assets/images/Union.svg') center/cover;
    // border-top: 1px solid $cl-black;
    // border-bottom: 1px solid $cl-black;
    position: relative;
    background-color: $cl-blue-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    // &-shape1{
    //     position: absolute;
    //     top: -10px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     height: 20px;
    // }

    &-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;

        // &-title{
        //     display: flex;
        //     align-items: center;
        //     gap: 30px;

        //     &-shape4{
        //         width: 50px;
        //         animation: shape4 2s linear infinite ;
        //     }
        // }

        &-paragraph{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 10px;

            // &-title{
            //     color: $cl-black;
            //     font-size: 24px;
            //     font-weight: 600;
            //     text-transform: uppercase;
            // }

            &-text{
                color: $cl-white;
                font-size: 24px;
                font-weight: medium;
            }

            &:nth-child(2){
                align-items: flex-end;
            }

            &:nth-child(3){
                align-items: flex-start;
            }
        }

       
    }

    &-cta{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &-icon{
        margin: 0 10px;
        font-size: 24px;
    }
}

@media (max-width: 768px){
    .about-container-paragraph-text{
        font-size: 16px;
    }

    .about-icon{
        font-size: 16px;
        margin: 0 5px;
    }
}