// .title-section{
//   color: $cl-black;
//   font-family: Poppins;
//   font-size: 74px;
//   font-style: normal;
//   font-weight: 500;
//   line-height: 90px; /* 121.622% */
//   text-transform: uppercase;
// }

.table-text{
  color: $cl-black;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.table-title{
  color: $cl-black;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.tag{
  border-radius: 20px;
  border: 1px solid $cl-black;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  color: $cl-black;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: fit-content;
  transition: 300ms all;
  cursor:default;


  &:hover{
    background: $cl-yellow-2;
    border-color: $cl-yellow-2;
  }
}

.btn-border-round{
  display: flex;
  width: 50px;
  height: 50px;
  transform: rotate(43.463deg);
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid $cl-black;
  transition: 300ms all;

  .btn-icons-icon{
    font-size: 14px;
    transform: rotate(180deg);
    color: $cl-black;
    transition: 300ms all;
  }

  &:hover{
    background-color: $cl-white;
    border: 1px solid $cl-white;

    .btn-icons-icon{
      transform: rotate(136deg);
      color: $cl-black;
  
    }
  }
}

.table-action{
  display: flex;
  justify-content: flex-end;
}

.table-wrapper{
  position: fixed;
  left: 0;
  top: 0;
  // right: 50px;
  width: 200px;
  aspect-ratio: 3/2;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
    
  &-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.services{
  padding: 100px 5vw;
  background-color: $cl-pink-2;

  &-title{
    margin-bottom: 100px;
  }

  &-table{
    width: 100%;

    &-head{
      width: 100%;
      display: grid;
      grid-template-columns: 100px 200px 1fr 1fr;
      gap: 10px;
      border-bottom: 1.5px solid $cl-black;

      &-cell{
        padding: 15px 0;
      }
    }

    &-body{
      width: 100%;
      display: grid;
      grid-template-columns: 100px 200px 1fr 1fr;
      gap: 10px;
      border-bottom: 1.5px solid $cl-black;
      position: relative;

      &-cell{
        padding: 30px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
      }
      

      &:hover{
        .tag{
          border-color: $cl-pink-3;
          background-color:$cl-pink-3;
          color: $cl-white;

          &:hover{
            &:hover{
              background: $cl-yellow-2;
              border-color: $cl-yellow-2;
            }
          }
        }
      }
    }

    &-footer{
      display: flex;
      justify-content: flex-end;
      padding-top: 50px;
    }
  }
}

@media (max-width: 992px){
  .services-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &-head{
      display: none;
    }


    &-body{
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding: 20px 0;

      &-cell{

        &-title{
          padding: 0;

          .table-text{
            font-size: 20px;
          }
        }
        &-img{
          position: relative;
          padding: 0;

          .table-text{
            position: absolute;
            right: 10px;
            top: 10px;
          }
          .table-wrapper{
            position: static;
            width: 100%;
            opacity: 1;
          }
        }

        &-tags{
          padding: 0;
        }

        &.table-action{
          padding: 0;
          display: none;
        }
      }
    }
  }
}


@media (max-width: 768px){
  .services-table{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}